$up-maroon: #780116ff;
$maximum-yellow-red: #f7b538ff;
$ochre: #db7c26ff;
$flame: #d8572aff;
$international-orange-golden-gate-bridge: #c32f27ff;

/* SCSS HEX */
$powder-blue: #bee9e8ff;
$maximum-blue: #62b6cbff;
$indigo-dye: #1b4965ff;
$columbia-blue: #cae9ffff;
$carolina-blue: #5fa8d3ff;

/* SCSS HEX */
$spanish-viridian: #007f5fff;
$spanish-green: #2b9348ff;
$green-ryb: #55a630ff;
$apple-green: #80b918ff;
$android-green: #aacc00ff;
$bitter-lemon: #bfd200ff;
$pear: #d4d700ff;
$titanium-yellow: #dddf00ff;
$xanthic: #eeef20ff;
$maximum-yellow: #ffff3fff;

/* SCSS HEX */
$red-orange-color-wheel: #ff4800ff;
$orange-pantone: #ff5400ff;
$safety-orange-blaze-orange: #ff6000ff;
$pumpkin: #ff6d00ff;
$heat-wave: #ff7900ff;
$dark-orange: #ff8500ff;
$yellow-orange-color-wheel: #ff9100ff;
$orange-peel: #ff9e00ff;
$chrome-yellow: #ffaa00ff;
$selective-yellow: #ffb600ff;

/* SCSS HEX */
$rosewood: #4f000bff;
$claret: #720026ff;
$brick-red: #ce4257ff;
$coral: #ff7f51ff;
$sandy-brown: #ff9b54ff;

/* SCSS HEX */
$dark-sienna: #220901ff;
$blood-red: #621708ff;
$dark-red: #941b0cff;
$rust: #bc3908ff;
$bright-yellow-crayola: #f6aa1cff;

/* SCSS HEX */
$lapis-lazuli: #2f6690ff;
$steel-blue: #3a7ca5ff;
$timberwolf: #d9dcd6ff;
$indigo-dye: #16425bff;
$dark-sky-blue: #81c3d7ff;

/* SCSS HEX */
$celadon: #99e2b4ff;
$turquoise-green: #88d4abff;
$eton-blue: #78c6a3ff;
$mint: #67b99aff;
$zomp: #56ab91ff;
$polished-pine: #469d89ff;
$illuminating-emerald: #358f80ff;
$celadon-green: #248277ff;
$skobeloff: #14746fff;
$skobeloff-2: #036666ff;

/* SCSS HEX */
$prussian-blue: #012a4aff;
$indigo-dye: #013a63ff;
$indigo-dye-2: #01497cff;
$usafa-blue: #014f86ff;
$sapphire-blue: #2a6f97ff;
$celadon-blue: #2c7da0ff;
$blue-green: #468fafff;
$maximum-blue: #61a5c2ff;
$dark-sky-blue: #89c2d9ff;
$light-blue: #a9d6e5ff;

/* SCSS HEX */
$floral-white: #fffcf2ff;
$pale-silver: #ccc5b9ff;
$black-olive: #403d39ff;
$eerie-black: #252422ff;
$flame: #eb5e28ff;

/* SCSS HEX */
$russian-violet: #10002bff;
$russian-violet-2: #240046ff;
$persian-indigo: #3c096cff;
$purple: #5a189aff;
$french-violet: #7b2cbfff;
$dark-orchid: #9d4eddff;
$heliotrope: #c77dffff;
$mauve: #e0aaffff;

/* SCSS HEX */
$light-coral: #f08080ff;
$congo-pink: #f4978eff;
$melon: #f8ad9dff;
$apricot: #fbc4abff;
$peach-puff: #ffdab9ff;

/* SCSS HEX */
$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$slate-gray: #6c757dff;
$davys-grey: #495057ff;
$gunmetal: #343a40ff;
$charleston-green: #212529ff;


/* SCSS HEX */
$nyanza: #d8f3dcff;
$turquoise-green: #b7e4c7ff;
$turquoise-green-2: #95d5b2ff;
$ocean-green: #74c69dff;
$ocean-green-2: #52b788ff;
$illuminating-emerald: #40916cff;
$bottle-green: #2d6a4fff;
$brunswick-green: #1b4332ff;
$dark-jungle-green: #081c15ff;

/* SCSS HEX */
$key-lime: #d9ed92ff;
$yellow-green-crayola: #b5e48cff;
$granny-smith-apple: #99d98cff;
$ocean-green: #76c893ff;
$keppel: #52b69aff;
$viridian-green: #34a0a4ff;
$blue-munsell: #168aadff;
$celadon-blue: #1a759fff;
$lapis-lazuli: #1e6091ff;
$yale-blue: #184e77ff;

/* SCSS HEX */
$almond: #ede0d4ff;
$desert-sand: #e6ccb2ff;
$tan: #ddb892ff;
$cafe-au-lait: #b08968ff;
$coffee: #7f5539ff;
$brown-sugar: #9c6644ff;

/* SCSS HEX */
$apricot: #ffcdb2ff;
$melon: #ffb4a2ff;
$pastel-pink: #e5989bff;
$english-lavender: #b5838dff;
$old-lavender: #6d6875ff;

/* SCSS HEX */
$navy-blue: #03045eff;
$dark-cornflower-blue: #023e8aff;
$star-command-blue: #0077b6ff;
$blue-green: #0096c7ff;
$cerulean-crayola: #00b4d8ff;
$sky-blue-crayola: #48cae4ff;
$sky-blue-crayola-2: #90e0efff;
$blizzard-blue: #ade8f4ff;
$powder-blue: #caf0f8ff;

/* SCSS HEX */
$melon: #fec5bbff;
$pale-pink: #fcd5ceff;
$misty-rose: #fae1ddff;
$isabelline: #f8edebff;
$platinum: #e8e8e4ff;
$alabaster: #d8e2dcff;
$linen: #ece4dbff;
$champagne-pink: #ffe5d9ff;
$peach-puff: #ffd7baff;
$peach-crayola: #fec89aff;

/* SCSS HEX */
$lavender-blue: #c3c3e6ff;
$languid-lavender: #d1c8e1ff;
$lilac: #bba0caff;
$pearly-purple: #b370b0ff;
$pansy-purple: #87255bff;

/* SCSS HEX */
$smoky-black: #0f0a0aff;
$isabelline: #f5efedff;
$blue-munsell: #2292a4ff;
$kelly-green: #2bc016ff;
$violet-blue: #314cb6ff;
$egyptian-blue: #0a369dff;
$chocolate-web: #d96c06ff;
$imperial-red: #f02d3aff;

/* SCSS HEX */
$gunmetal: #202c39ff;
$charcoal: #283845ff;
$paradise-pink: #e54f6dff;
$slimy-green: #119822ff;
$lime-green: #31cb00ff;


/* SCSS HEX */
$sage: #c0c999ff;
$salmon-pink: #fd96a9ff;
$frostbite: #f62daeff;
$fandango: #b30089ff;
$indigo: #470063ff;