$smoky-black: #0f0a0aff;
$isabelline: #f5efedff;
$blue-munsell: #2292a4ff;
$kelly-green: #2bc016ff;
$violet-blue: #314cb6ff;
$egyptian-blue: #0a369dff;
$chocolate-web: #d96c06ff;
$imperial-red: #f02d3aff;

$gunmetal: #202c39ff;
$charcoal: #283845ff;
$paradise-pink: #e54f6dff;
$slimy-green: #119822ff;
$lime-green: #31cb00ff;

:root {
  --smoky-black: #{$smoky-black};
  --isabelline: #{$isabelline};
  --blue-munsell: #{$blue-munsell};
  --kelly-green: #{$kelly-green};
  --violet-blue: #{$violet-blue};
  --egyptian-blue: #{$egyptian-blue};
  --chocolate-web: #{$chocolate-web};
  --imperial-red: #{$imperial-red};

  --gunmetal: #{$gunmetal};
  --charcoal: #{$charcoal};
  --paradise-pink: #{$paradise-pink};
  --slimy-green: #{$slimy-green};
  --lime-green: #{$lime-green};
}