@import '../variable';

body {
  color: $isabelline;
  text-shadow: 0 .05rem .1rem rgba($color: $smoky-black, $alpha: 0.5);
  box-shadow: inset 0 0 5rem rgba($color: $smoky-black, $alpha: 0.5);
}

.progress.loader {
  box-shadow: 0px 0px 60px 10px $selective-yellow;

  .progress-bar {
    color: $dark-cornflower-blue;
    background-color: $selective-yellow;
  }
}

.home__page {  
  color: $isabelline;
  background-color: $blue-green;

  .experience-pill {
    color: $isabelline;
    background-color: $charcoal;
  }

  .learnmore-btn {
    color: $smoky-black;
    background-color: $isabelline;
  }
}

.skills__page {
  color: $isabelline;
  background-color: $french-violet;
  .section-title {
    color: $isabelline;
  }

  hr {
    background-color: $isabelline;
  }
}

.services__page {
  color: $isabelline;
  background-color: $imperial-red;

  .section-title {
    color: $isabelline;
  }

  hr {
    background-color: $isabelline;
  }

  .contact-us {
    color: $isabelline;
    background-color: $blue-green;
  }  
}

.projects__page {
  color: $smoky-black;
  background-color: $violet-blue;

  .section-title {
    color: $isabelline;
  }

  hr {
    background-color: $isabelline;
  }

  .project-box:first-child  {
    background-color: $isabelline;
  }
}

.contact__page {
  background-color: $chocolate-web;

  .section-title {
    color: $isabelline;
  }

  hr {
    background-color: $isabelline;
  }

  strong {
    color: $smoky-black;    
  }

  .username {
    color: rgba($color: $smoky-black, $alpha: 0.5);
  }

  .badge {
    color: $isabelline;
    background-color: $blue-green;
  }
}

.card-showcase {
  background-color: $orange-pantone;  
  .card-showcase-header {
    display: flex;
    .card-showcase-icon { 
      background-color: $blue-green; 
      color: #fff;
    }
    .skill-exp {
      background-color: $blue-green; 
    }
  }  

  .icon-link {
    color: $celadon;
  }
}

.social-logo-container {
  background-color: transparent;
  color: #fff;

  .social-logo {
    width: 2rem;
    height: 2rem;  
  }

  &.fb-logo {
    background-color: $star-command-blue;
    color: #fff;
  }

  &.tw-logo {
    background-color: $carolina-blue;
    color: #fff;
  }

  &.insta-logo {
    background-color: $imperial-red;
    color: #fff;
  }
}


/*
 * Header
 */

.navmenu {
  background-color: rgba($color: $smoky-black, $alpha: 0.15); 

  .nav-masthead .nav-link {
    color: rgba($color: $isabelline, $alpha: 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }

  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus { 
    color: #fff;
    border-bottom-color: rgba($color: $isabelline, $alpha: 0.25);
  }

  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }

}

/*
 * Footer
 */

footer {
  background-color: $charcoal;
}