@media (max-width: $lg-break-point) {
  .profile-header {
    .intro { 
      align-items: center;

      p {
        margin-left: 0 !important;
      }

      span {
        margin-left: 0px !important;
      }
    }

    .preference {
      align-items: center !important;
      .radio-group.theme {
        flex-direction: column !important;
        align-items: center;
      }
    }
  }
}

@media (max-width: $lg-break-point) { // break-point-lg
  .navbar {
    .container-fluid {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between !important;
    }
  }
}