// Colors
$dark: #000;
$light: #fff;
$light-red: #E95050;
$light-rose: #F06292;
$purple: #AB47BC;
$light-purple: #CE93D8;
$dark-blue: #7E57C2;
$blue: #5C6BC0;
$ink-blue: #1976D2;
$light-blue: #81D4FA;
$green: #009688;
$light-green: #80CBC4;
$leaf-green: #8BC34A;
$yellow: #FFEB3B;
$light-yellow: #FFF59D;
$golden-yellow: #FFCA28;
$orange: #FFA726;
$tomato-red: #FF5722;
$dark-gray: #A1887F;
$silver: #BDBDBD;
$light-gray: #EEEEEE;

/* Colors */
.dark { color: $dark; }
.light { color: $light; }
.light-red { color: $light-red; }
.light-rose { color: $light-rose; }
.purple { color: $purple; }
.light-purple { color: $light-purple; }
.dark-blue { color: $dark-blue; }
.blue { color: $blue; }
.ink-blue { color: $ink-blue; }
.light-blue { color: $light-blue; }
.green { color: $green; }
.light-green { color: $light-green; }
.leaf-green { color: $leaf-green; }
.yellow { color: $yellow; }
.light-yellow { color: $light-yellow; }
.golden-yellow { color: $golden-yellow; }
.orange { color: $orange; }
.tomato-red { color: $tomato-red; }
.dark-gray { color: $dark-gray; }
.silver { color: $silver; }
.light-gray { color: $light-gray; }

/* Background Colors */
.bg-dark { background-color: $dark; }
.bg-light { background-color: $light; }
.bg-light-red { background-color: $light-red; }
.bg-light-rose { background-color: $light-rose; }
.bg-purple { background-color: $purple; }
.bg-light-purple { background-color: $light-purple; }
.bg-dark-blue { background-color: $dark-blue; }
.bg-blue { background-color: $blue; }
.bg-ink-blue { background-color: $ink-blue; }
.bg-light-blue { background-color: $light-blue; }
.bg-green { background-color: $green; }
.bg-light-green { background-color: $light-green; }
.bg-leaf-green { background-color: $leaf-green; }
.bg-yellow { background-color: $yellow; }
.bg-light-yellow { background-color: $light-yellow; }
.bg-golden-yellow { background-color: $golden-yellow; }
.bg-orange { background-color: $orange; }
.bg-tomato-red { background-color: $tomato-red; }
.bg-dark-gray { background-color: $dark-gray; }
.bg-silver { background-color: $silver; }
.bg-light-gray { background-color: $light-gray; }
