
@charset "UTF-8";
@import '_reset';
@import '_variables';
@import '_colors';

/*<<<<< Property definition >>>>>*/
/* spin-angle */
@property --spin-angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

/*<<<<< body >>>>>*/
body {
	width: 100%;
	height: auto;	
}

/*<<<<< No Script Notice >>>>>*/
.no-script-notice {
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	overflow: hidden;
	@extend %font-opensans;

	.notice {		
		max-width: 80%;
		height: auto;
		padding: 2rem 1rem;
		position:absolute; 
		top: 50%;
		left: 50%;		
		translate: -50% -50%;
		display:flex;
		flex-direction: column;		
		align-items: flex-start;
		column-gap: 3rem;
		font-size: 3rem;

		.content {
			width: 100%;
			text-align: center;
		}

		.content-icon-group {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;

			.switch-icon {
				@extend %font-fontawesome;	
			  margin: 0 1.5rem;
			  animation: vibrateAnimation 2s ease infinite 0.2s;
				
				&::before {
					content: "\f205";
					font-size: 3rem;
					animation: switchAnimation 2s ease both infinite;
				}
			}
		}
	}
}

/*<<<<< Main Portfolio >>>>>*/
main {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	section {
		width: 100%;
		height: 100vh;
		background-color: $dark;
		$sectionDelay: 0s;		

		.icon-container {
			/*animation: jackInTheBox 1s ease $sectionDelay;*/
			/*$sectionDelay: $sectionDelay + 0.3s;*/
		}

		.content {
			display: block;
			color: $light;
		}

		&.about {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-around;
			align-items: center;
			background: linear-gradient(to bottom, $blue, $dark-blue);

			.icon-container	img {				
					position: relative;
					max-width: 24rem;
					aspect-ratio: 1;
					border-radius: 100%;
					background: conic-gradient(from var(--spin-angle), transparent 50%, $light);
					/*box-shadow: 0px 0px 20px 0px $light-gray;*/
					padding: 0.2rem;
					animation: spin 3s linear infinite;

					&::before, &::after {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						translate: -50% -50%;
						max-width: 25rem;
						aspect-ratio: 1;
						border-radius: 100%;
						z-index: -1;						
					}

					&::before {
						filter: blur(10px);
						opacity: 0.75;
					}
			}

			.content {			
				@extend %font-opensans;
				font-size: 2rem;
				.heading {
					.user-name {
						display: inline-block;
						text-align: center;	
						background-color: $light;
						padding: 0.25rem 1rem 0.75rem 1rem;
						color: $ink-blue;
						border-radius: 10px;
					} 
				}	
				.items-list {
					.item {
						margin: 1rem 0rem;
						border-bottom: 2px dashed $light;
					}

					a {
						font-size: 1.75rem;
						text-decoration: none;
						color: $light;
						background-color: $tomato-red;						
						padding: 0.25rem 0.5rem;
						border-radius: 10px;

						i {
							background-color: $light;
							color: $tomato-red;							
							padding: 0.2rem 0.3rem;
							border-radius: 100%;
						}
					}
				}
			}
		}

		&.skills {
			display: flex;			
			justify-content: space-around;
			align-items: center;
			background: linear-gradient(to bottom, $dark-blue, $light-purple);

			.icon-container {
				i {
					position: relative;
					max-width: 25rem;
					aspect-ratio: 1;
					border-radius: 100%;
					color: $light;
					font-size: 20rem;
					padding: 1rem;
					border: 1px solid $light;
				}
			}

			.content {				
				@extend %font-opensans;
				font-size: 2rem;
				min-width: 50vw;

				.heading {
					margin-bottom: 2rem;

					.skills-title {
						display: inline-block;
						text-align: center;	
						background-color: $tomato-red;
						padding: 0.25rem 1rem 0.75rem 1rem;
						color: $light;
						border-radius: 10px;
					} 
				}	
				.items-list {
					display: flex;
					flex-wrap: wrap;
					gap: 1rem;
					max-width: 50vw;
					
					.item {
						display: flex;
						justify-content: space-between;
						align-items: center;	
						color: $tomato-red;
						background-color: transparent;
						border: 1px solid $light;
						padding: 0rem;
						border-radius: 10px;

						i {
							padding: 0.25rem 0.5rem;
							color: $light;
						}

						span {
							padding: 0.2rem 0.3rem 0.25rem 0.5rem;
							background-color: $tomato-red;
							color: $light;
							border-right-width: 1px;
							border-right-style: solid;
							border-right-color: $light;
							border-top-right-radius: 9px;
							border-bottom-right-radius: 9px;
						}
					}
				}
			}
		}

		&.focus {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-around;
			align-items: center;
			background: linear-gradient(to bottom, $light-purple, $light-green);

			.icon-container {
				i {
					position: relative;
					min-width: 23rem;
					aspect-ratio: 1;
					border-radius: 100%;
					color: $light;
					font-size: 15rem;
					padding: 0rem;
					border: 1px solid $light;
					transform: rotateZ(-30deg);				

					&::before {
						position: absolute;
				    top: 50%;
				    translate: 11% -50%;
					}
				}
			}

			.content {				
				@extend %font-opensans;
				font-size: 2rem;
				min-width: 50vw;

				.heading {
					margin-bottom: 2rem;

					.focus-title {
						display: inline-block;
						text-align: center;	
						background-color: $leaf-green;
						padding: 0.25rem 1rem 0.75rem 1rem;
						color: $light;
						border-radius: 10px;
					} 
				}	
				.items-list {
					display: flex;
					flex-wrap: wrap;
					gap: 1rem;
					max-width: 50vw;
					
					.item {
						display: flex;
						justify-content: space-between;
						align-items: center;	
						color: $tomato-red;
						background-color: transparent;
						border: 1px solid $light;
						padding: 0rem;
						border-radius: 10px;

						i {
							padding: 0.25rem 0.5rem;
							color: $light;
						}

						span {
							padding: 0.2rem 0.3rem 0.25rem 0.5rem;
							background-color: $leaf-green;
							color: $light;
							border-right-width: 1px;
							border-right-style: solid;
							border-right-color: $light;
							border-top-right-radius: 9px;
							border-bottom-right-radius: 9px;
						}
					}
				}
			}
		}

		&.contact {
			display: flex;			
			justify-content: space-around;
			align-items: center;
			background: linear-gradient(to bottom, $light-green, $light-gray);

			.icon-container {
				i {
					position: relative;
					max-width: 25rem;
					aspect-ratio: 1;
					border-radius: 100%;
					color: $dark-blue;
					font-size: 15rem;
					padding: 4rem;
					border: 1px solid $light;
					transform: rotateZ(-15deg);
				}
			}

			.content {				
				@extend %font-opensans;
				font-size: 2rem;
				min-width: 50vw;

				.heading {
					margin-bottom: 2rem;

					.contact-title {
						display: inline-block;
						text-align: center;	
						background-color: $dark-blue;
						padding: 0.25rem 1rem 0.75rem 1rem;
						color: $light;
						border-radius: 10px;
					} 
				}	
				.items-list {
					display: flex;
					flex-wrap: wrap;
					gap: 1rem;
					max-width: 50vw;
					
					.item {
						display: flex;
						justify-content: space-between;
						align-items: center;	
						color: $tomato-red;
						background-color: transparent;
						border: 1px solid $light;
						padding: 0rem;
						border-radius: 10px;

						i {
							padding: 0.25rem 0.5rem;
							color: $dark-blue;
						}

						a {
							text-decoration: none;
							padding: 0.2rem 0.3rem 0.25rem 0.5rem;
							background-color: $dark-blue;
							color: $light;
							border-right-width: 1px;
							border-right-style: solid;
							border-right-color: $light;
							border-top-right-radius: 9px;
							border-bottom-right-radius: 9px;
						}
					}
				}
			}
		}
	}
}


/*<<<<< Keyframes >>>>>*/

/* vibrate animation keyframes with explicit delay on each iteration with extending empty keyframes */
@keyframes vibrateAnimation {
	0% {
    transform: translateX(0);
    color: $light-red;
  }

  1% {
    transform: translateX(-5px) rotateY(-10deg);
  }

  3% {
    transform: translateY(5px) rotateX(5deg);
  }

  5% {
    transform: translateX(-3px) rotateY(-3deg);
  }

  7% {
    transform: translateY(2px) rotateX(2deg);
  }

  10% {
    transform: translateX(0);
  }

  100% {
    color: all;
  	transform: none;
  }

}

/* switch animation effect with fontawesome icon */
@keyframes switchAnimation {
	to {
		content: "\f204";
	}
}

/* spin animation for profile image */
@keyframes spin {
	to {
		--spin-angle: 360deg;
	}
}

/*<<<<< Media Query >>>>>*/
@media (max-width: 768px) {
	main {
		section {
			width: 100%;
			min-height: 100vh;
			height: auto;

			.heading {
				text-align: center;
    		margin-top: 1rem;
			}

			&.about, &.skills, &.focus, &.contact {
				padding: 2rem 1rem;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
